<h1>
  Edit restaurant review #<%= @restaurant_review.id %>
</h1>

<hr>

<!-- Form restaurant_review start -->
<form action="/update_restaurant_review/<%= @restaurant_review.id %>" method="post">
<!-- Form restaurant_review end -->

  <!-- Label and input for restaurant_id start -->
  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <!-- Input for restaurant_id start -->
    <input type="text" id="restaurant_id" name="restaurant_id" class="form-control" value="<%= @restaurant_review.restaurant_id %>">
    <!-- Input for restaurant_id end -->
  </div>
  <!-- Label and input for restaurant_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @restaurant_review.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update restaurant review
  </button>
</form>

<hr>

<a href="/restaurant_reviews">
  Go back
</a>
