<% if @restaurant_review.present? %>
  <% if @restaurant_review.errors.any? %>
    <% @restaurant_review.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new restaurant review
</h1>


<hr>

<form action="/create_restaurant_review" method="post">

  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :restaurant_name, @restaurant_review.restaurant_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create restaurant review
  </button>
</form>

<hr>

<a href="/restaurant_reviews">
  Go back
</a>
