<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Restaurant Reviews

    <a data-toggle="collapse" href="#restaurant_restaurant_reviews_new_form">
      Add restaurant review
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @restaurant.restaurant_reviews.each do |restaurant_review| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/restaurant_reviews/<%= restaurant_review.id %>">
          <%= restaurant_review.restaurant_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_restaurant_review_from_restaurant/<%= restaurant_review.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="restaurant_restaurant_reviews_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
