<!-- Form restaurant_review start -->
<form action="/create_restaurant_review_from_restaurant" method="post">
<!-- Form restaurant_review end -->

  <!-- Label and input for restaurant_id start -->
  <!-- Input for restaurant_id start -->
  <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">
  <!-- Input for restaurant_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @restaurant_review.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create restaurant review
  </button>
</form>
